{% extends "base.html" %}
{% load static %}

{% block title %}Estudiantes | VSystem{% endblock %}

{% block content %} 

    <!-- Forms -->
    {% include "forms/student/student-delete.html" %}   
    {% include "forms/student/student-detail.html" %}
    {% include "forms/student/student-add.html" %}
    {% include "forms/student/student-update.html" %}
    
    <!-- Toast -->
    {% include "components/student/student-toast.html" %}
    
    <!-- Title Page -->
    {% include "components/student/student-title-page.html" %}
    
    <!-- Students Table -->
    {% include "components/student/student-table.html" %}
    
    <!-- JS -->
    <script src="{% static "js/students.js" %}" type="module"></script>
    <script src="{% static "js/components/student/student-table.js" %}" type="module"></script>
    <script src="{% static "js/forms/student/student-add.js" %}" type="module"></script>
    <script src="{% static "js/forms/student/student-detail.js" %}" type="module"></script>
    <script src="{% static "js/forms/student/student-update.js" %}" type="module"></script>
    <script src="{% static "js/forms/student/student-delete.js" %}" type="module"></script>

{% endblock %}