{% extends "base.html" %}
{% load static %}

{% block title %}Profesores | VSystem{% endblock %}

{% block content %} 

    <!-- Forms -->
    {% include "forms/teacher/teacher-add.html" %}
    {% include "forms/teacher/teacher-detail.html" %}
    {% include "forms/teacher/teacher-delete.html" %}   
    {% include "forms/teacher/teacher-update.html" %}
    
    <!-- Toast -->
    {% include "components/teacher/teacher-toast.html" %}
    
    <!-- Title Page -->
    {% include "components/teacher/teacher-title-page.html" %}
    
    <!-- Students Table -->
    {% include "components/teacher/teacher-table.html" %}
    
    <!-- JS -->
    <script src="{% static "js/teachers.js" %}" type="module"></script>
    <script src="{% static "js/components/teacher/teacher-table.js" %}" type="module"></script>
    <script src="{% static "js/forms/teacher/teacher-add.js" %}" type="module"></script>
    <script src="{% static "js/forms/teacher/teacher-detail.js" %}" type="module"></script>
    <script src="{% static "js/forms/teacher/teacher-update.js" %}" type="module"></script>
    <script src="{% static "js/forms/teacher/teacher-delete.js" %}" type="module"></script>

{% endblock %}