<div class="container overflow-auto border mb-3 h-100">
    <table class="table table-bordered mt-3 table-sm tabla-responsive" id="studentsTable">
        <thead>
            <th class="align-middle text-center py-3">#</th>
            <th class="align-middle text-center py-3">Documento</th>
            <th class="align-middle text-center py-3">Nombres</th>
            <th class="align-middle text-center py-3">Apellidos</th>
            <th class="align-middle text-center py-3">Telefono</th>
            <th class="align-middle text-center py-3">Correo Electronico</th>
            <th class="align-middle text-center py-3">Edad</th>
            <th class="align-middle text-center py-3">Opciones</th>
        </thead>    
        <tbody id="studentsTableBody">
            
        </tbody>
    </table>
</div>