html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .table-container {
    height: 78% !important;
}

.main-container {
    height: 75% !important;
}    */


/* Contenedor principal para ocupar toda la altura de la pantalla */
.full-height {
  height: 75vh;
  display: flex;
  flex-direction: column;
}
/* Contenedor de tabla ajustable */
.table-container {
  flex: 1;
  overflow-y: auto;
}
