<div class="position-fixed bottom-0 start-0 m-3" style="z-index: 11">
    <div id="teachersToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-journal-text"></i>
            <strong class="me-auto mx-1">Docentes</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            
        </div>
    </div>
</div>