{% extends "components/base-modal-update.html" %}

{% block title %}Editar Estudiante en un Curso{% endblock %}
{% block modal-id %}updateForm{% endblock %}
{% block form-label-title %}updateForm{% endblock %}
{% block modal-size %}modal-lg{% endblock %}

{% block id-form %}classUpdateForm{% endblock %}

{% block modal-body %}
    <div id="updateFormAlert"></div>
    <div class="row g-3 mb-3">
        <div class="col-md-6">  
            <label for="inputNameAdd" class="form-label">Estudiante</label>
            {{classUpdateForm.student}}
        </div>
        <div class="col-md-6">
            <label for="inputMaxCapacityAdd" class="form-label">Curso</label>
            {{classUpdateForm.course}}
        </div>
        <div class="col-md-4">
            <label for="selectTeacherAdd" class="form-label">Fecha Inicial</label>
            {{classUpdateForm.startDate}}
        </div>
        <div class="col-md-4">
            <label for="selectTeacherAdd" class="form-label">Fecha Final</label>
            {{classUpdateForm.endDate}}
        </div>
        <div class="col-md-4">
            <label for="selectTeacherAdd" class="form-label">Estado</label>
            {{classUpdateForm.state}}
        </div>
    </div>
{% endblock %}

{% block modal-buttons %}
    <button type="submit" class="btn btn-success"><i class="bi bi-floppy me-2"></i>Guardar</button>
    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square me-2"></i>Cerrar</a>
{% endblock %}
