{% extends "components/base-modal.html" %}

{% block title %}Eliminar Estudiante{% endblock %}
{% block id-form %}deleteForm{% endblock %}
{% block form-label-title %}deleteForm{% endblock %}

{% block modal-body %}
    <p>¿Esta seguro que desea eliminar al estudiante Felipe Castro?</p>
{% endblock %}

{% block modal-buttons %}
    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
    <a type="button" class="btn btn-danger" data-bs-dismiss="modal" id="liveToastBtn">Eliminar</a>
{% endblock %}
