{% extends "components/base-modal-update.html" %}

{% block title %}Editar Matricula{% endblock %}
{% block modal-id %}updateForm{% endblock %}
{% block form-label-title %}updateForm{% endblock %}
{% block modal-size %}modal-lg{% endblock %}

{% block id-form %}enrollmentUpdateForm{% endblock %}

{% block modal-body %}
    <div id="updateFormAlert"></div>
    <div class="row g-3 mb-3">
        <div class="col-md-12">
            <label for="selectTeacherAdd" class="form-label">Clase</label>
            {{enrollmentUpdateForm.studentCourse}}
        </div>
        <div class="col-md-4">
            <label for="inputMaxCapacityAdd" class="form-label">Fecha Inicial</label>
            {{enrollmentUpdateForm.startDate}}
        </div>
        <div class="col-md-4">  
            <label for="inputUpdateAdd" class="form-label">Costo</label>
            {{enrollmentUpdateForm.cost}}
        </div>
        <div class="col-md-4">
            <label for="selectTeacherAdd" class="form-label">Estado</label>
            {{enrollmentUpdateForm.state}}
        </div>
    </div>
{% endblock %}

{% block modal-buttons %}
    <button type="submit" class="btn btn-success"><i class="bi bi-floppy me-2"></i>Guardar</button>
    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square me-2"></i>Cerrar</a>
{% endblock %}
